.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;

  background-color: #fff;
}

.dropdown {
  position: relative;
  &.open {
    > button {
      &:after {
        margin-top: -3px;

        transform: rotate(180deg);
      }
    }
  }
  > button {
    position: relative;

    display: inline-block;

    height: 28px;
    margin: 0 0;
    padding: 0 24px 0 0;

    cursor: pointer;
    transition: all .3s ease 0s;
    text-align: center;
    text-decoration: none;

    border: none;
    outline: none;
    background: #fff;
    &:hover {
      .text {
        border-bottom-color: transparent;
      }
    }
    &:after {
      position: absolute;
      right: 5px;

      display: block;

      width: 0;
      height: 0;

      content: '';

      border-width: 5px 5px 0 5px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;

      @include center(y);
    }
    img {
      display: inline-block;

      width: 28px;

      vertical-align: middle;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 1;

      display: inline-block;

      vertical-align: middle;

      color: black;
    }
  }
  .dropdown-menu {
    position: absolute;
    z-index: 1045;
    top: 100%;
    right: 0;

    width: 100%;
    margin: 0 0 0;
    padding: 5px 0;

    border-radius: 0;
    background-color: #fff;
    li {
      padding: 4px 0;
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 1;

        display: inline-block;

        text-decoration: none;

        color: black;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}
